html{
  scroll-behavior: smooth;
}
nav {
  position: sticky;
  top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 80px;
    /* background-color: transparent; */
  }
  a {
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #000000;
    font-weight: 600;
    font-size: 17px;
  }
  .link a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    bottom: 8px;
    left: 0px;
    background-color: #1d4ed8;
    transition: all 0.5s ease;
  }
  
  .link a:hover::after {
    width: 100%;
  }
  