@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;700&family=Poppins:wght@100;500&family=Roboto:wght@900&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
body {
  margin: 0;
  background-color: #2b2b2b;
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
    justify-content: center;
    text-align: center;
  }
  .presentacion{
  flex-direction: column;
}
  .nombre{
    padding: 10px 0px;
  text-align: center;
  justify-content: center;}
  
  .descripcion-personal{
    padding: 10px 0px;
  text-align: center;
  justify-content: center;
  }
}


header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position:sticky;
  top: 0;
  background-color: #2b2b2b;
}
header a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-right: 15px;
  
}
nav a {
  /*Comportamiento de los Links del menú*/
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-family: "", sans-serif;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  
}
nav a:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}
a.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin-right: 10px;
}

.presentacion{
display: flex;
}
.nombre{
display: flex;
font-size: 60px;
color: white;
font-family: 'Roboto', sans-serif;
min-width: 40%;
}
.descripcion-personal{
  display: flex;
  color: white;
font-size: 20px;
min-width: 40%;
}
