header{
    color: white;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #444;
}
/* nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
} */