---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="Portafolio | RixonDEV"
    description="Estudiante de Ingeniería de Software en la IUPB. Aquí encontrarás mis proyectos y habilidades en desarrollo web y diseño, así como mi experiencia en el campo, incluyendo trabajos y proyectos destacados. ¡Explora mi portafolio y descubre lo que puedo ofrecer!"
>
    <section class="inicio">
        <div class="container-inicio">
            <h1>Hola me llamo Michael Steven Castillo, Ingeniero de Software</h1>
            <a href="">Proyectos</a>
            <a href="">Hoja de Vida</a>
        </div>
        

        <!-- <div class="container-whoami">
            <h2>¿Quién soy?</h2>
            <p>
                Soy un estudiante apasionado por el desarrollo web y el diseño.
                Me encanta crear soluciones innovadoras y funcionales que
                mejoren la experiencia del usuario.
            </p>
            <p>
                Mi objetivo es seguir aprendiendo y creciendo en el campo del
                desarrollo de software, y estoy emocionado por las oportunidades
                que el futuro me depara.
            </p>
            <p>
                En este portafolio, encontrarás una selección de mis proyectos y
                habilidades. Espero que te guste lo que ves y que podamos
                trabajar juntos en el futuro.
            </p>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <h2>Sobre mí</h2>
            <p>
                Soy un estudiante de Ingeniería de Software en la IUPB, con
                experiencia en desarrollo web y diseño. Me apasiona crear
                soluciones innovadoras y funcionales que mejoren la experiencia
                del usuario.
            </p>
            <p>
                He trabajado en varios proyectos, tanto académicos como
                personales, y estoy siempre buscando nuevas oportunidades para
                aprender y crecer en el campo del desarrollo de software.
            </p>
        </div>
        <div class="container">
            <h2>Habilidades</h2>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>React, Node.js</li>
                <li>Diseño UI/UX</li>
                <li>Desarrollo de aplicaciones web</li>
            </ul>
        </div>
        <section class="proyectos">
            <div class="container">
                <h2>Proyectos</h2>
                <p>
                    Aquí encontrarás una selección de mis proyectos más
                    destacados. Cada uno de ellos refleja mi pasión por el
                    desarrollo web y el diseño, así como mi compromiso con la
                    calidad y la innovación.
                </p>
                <ul>
                    <li>Proyecto 1: Descripción del proyecto 1</li>
                    <li>Proyecto 2: Descripción del proyecto 2</li>
                    <li>Proyecto 3: Descripción del proyecto 3</li>
                </ul>
            </div>
        </section>
        <section class="contacto">
            <div class="container">
                <h2>Contacto</h2>
                <p>
                    Si deseas ponerte en contacto conmigo, no dudes en enviarme
                    un correo electrónico a{" "}
                    <a href="mailto:michaelsteven3211@gmail.com"> </a>
                </p>
            </div> -->
        </section>
    </section></MainLayout
>
