---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Portafolio | RixonDEV"
  description="Aquí encontrarás mis proyectos y habilidades en desarrollo web y diseño, ¡Explora mi portafolio y descubre lo que puedo ofrecer!"
>
  <section class="inicio">
    <div class="container-inicio">
      <div class="nombre">
        <h1>Hola me llamo Michael Steven Castillo Saldarriaga</h1>
      </div>
      <div class="main-descripcion">
        <p>
            Soy un estudiante apasionado por el desarrollo web y el diseño. Me encanta aprender nuevas tecnologías y aplicarlas para crear soluciones innovadoras y funcionales. Mi objetivo es crecer profesionalmente mientras contribuyo a proyectos que marquen la diferencia.
        </p>
      </div>

      <a href="">Proyectos</a>
      <a href="">Hoja de Vida</a>
    </div>

    <section class="proyectos">
      < class="container">
        <div class="titulo-proyectos">
            <h2>Proyectos</h2>
        </div>
        <div class="descripcion-proyectos">
            <p>
                Aquí encontrarás una selección de mis proyectos más destacados. Cada
                uno de ellos refleja mi pasión por el desarrollo web y el diseño,
                así como mi compromiso con la calidad y la innovación.
            </p>
        </div>
        <div class="cards-proyectos">
            <div class="card-proyecto">
                <h3>Proyecto 1</h3>
                <p>Descripción breve del proyecto 1.</p>
            </div>
            <div class="card-proyecto">
                <h3>Proyecto 2</h3>
                <p>Descripción breve del proyecto 2.</p>
            </div>
            <div class="card-proyecto">
                <h3>Proyecto 3</h3>
                <p>Descripción breve del proyecto 3.</p>
            </div>
        </div>
    </section>

        <div class="container">
            <div class="titulo-habilidades">
                <h2>Habilidades</h2>    
            </div>
            <div class="descripcion-habilidades">
                <p>
                    Aquí encontrarás una lista de mis habilidades y tecnologías
                    con las que trabajo. Estoy en constante aprendizaje y siempre
                    busco mejorar mis habilidades.
                </p>
            </div>
            <div class="habilidades">
                <div class="habilidad">
                    <h3>HTML</h3>
                    <p>Descripción breve de la habilidad HTML.</p>
                </div>
                <div class="habilidad">
                    <h3>CSS</h3>
                    <p>Descripción breve de la habilidad CSS.</p>
                </div>
                <div class="habilidad">
                    <h3>JavaScript</h3>
                    <p>Descripción breve de la habilidad JavaScript.</p>
                </div>
                <div class="habilidad">
                    <h3>React</h3>
                    <p>Descripción breve de la habilidad React.</p>
                    </div>
                <div class="habilidad">
                    <h3>Node.js</h3>
                    <p>Descripción breve de la habilidad Node.js.</p>
                    </div>
                <div class="habilidad">
                    <h3>Git</h3>
                    <p>Descripción breve de la habilidad Git.</p>
                    </div>
                <div class="habilidad">
                    <h3>Figma</h3>
                    <p>Descripción breve de la habilidad Figma.</p>

                    </div>
                <div class="habilidad">
                    <h3>Photoshop</h3>
                    <p>Descripción breve de la habilidad Photoshop.</p>
                    </div>
                <div class="habilidad">
                    <h3>Illustrator</h3>
                    <p>Descripción breve de la habilidad Illustrator.</p>
                    </div>
        </div>
        
        <section class="contacto">
            <div class="container">
                <h2>Contacto</h2>
                <p>
                    Si deseas ponerte en contacto conmigo, no dudes en enviarme
                    un correo electrónico a{" "}
                    <a href="mailto:michaelsteven3211@gmail.com"> </a>
                </p>
            </div> -->
  </section>
</MainLayout>
