---
import "../styles/footer.css";
import "../styles/global.css";
---

<footer>
    <div class="footer-content">
        <p>&copy; 2025 - Todos los derechos reservados</p>
        <p>Desarrollado por Michael Steven Castillo -  RixonDEV</p>
        <div class="socials">
            <a href="">Instagram</a>"
            <a href="">LinkedIn</a>
            <a href="">GitHub</a>
        </div>
</footer>